img {
    display: block;
    height: auto;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
}

.mainlink {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: goldenrod;
    height: 30px;
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(211, 143, 41);
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gray;
    color: aliceblue;
}

.recipe_img {
    height: auto;
    width: 700px;
}